.dashboard .card {
  border: none;
  border-radius: 0.75rem;
}

.progress-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: conic-gradient(var(--bs-primary) 0 35deg, #e9ecef 0 360deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-value {
  position: absolute;
  font-weight: 600;
  color: #000000;
}

.py-5 {
  padding-top: 11rem !important;
  padding-bottom: 3rem !important;
  padding-left: 5rem !important;
}

.mb-4 {
    margin-bottom: 3.5rem !important;
}

.g-4, .gy-4 {
    --bs-gutter-y: 4.5rem;
}
.g-4, .gx-4 {
    --bs-gutter-x: 1.5rem;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #000000 !important;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 50%;
}
