
.hero {
  padding-top: 140px;
  padding-bottom: 80px;
  background-color: color-mix(in srgb, var(--background-color), transparent 95%);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero .hero-title {
  max-width: 700px;
  width: 100%;
  text-align: start;
  margin-bottom: 2rem;
}

.hero .hero-title h1 {
  font-size: 2.5rem; 
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  margin-bottom: 1.5rem;
}

.hero-content-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-image {
  flex: 1 1 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  max-width: 520px;
}

.hero .feature-boxes {
  margin-top: 2rem;
}

.hero .feature-boxes .feature-box {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--surface-color);
  border: 1px solid color-mix(in srgb, var(--accent-color), transparent 80%);
  height: 100%;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

@media (min-width: 476px) {
  .hero .feature-boxes .feature-box {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
}

.hero .feature-boxes .feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.hero .feature-boxes .feature-box .feature-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero .feature-boxes .feature-box .feature-icon i {
  font-size: 1.75rem;
  color: var(--heading-color);
}

.hero .feature-boxes .feature-box .feature-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero .feature-boxes .feature-box .feature-content {
  flex: 1;
}

.hero .feature-boxes .feature-box .feature-content .feature-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 0.75rem;
}

.hero .feature-boxes .feature-box .feature-content .feature-text {
  font-size: 0.95rem;
  color: var(--default-color);
  margin-bottom: 0;
}