.hero {
  padding-top: 140px;
  padding-bottom: 80px;
  background-color: color-mix(in srgb, var(--background-color), transparent 95%);
  overflow: hidden;
  position: relative;
}


.hero .hero-title h1 {
  font-size: 2.25rem; 
  font-weight: 600;
  line-height: 1.4;
  color: var(--heading-color);
  margin-bottom: 1rem;
}

